<ion-header>
    <ion-navbar >
      <ion-toolbar >
        
      
      <ion-buttons >
        <button ion-button  >
          <ion-icon end name="contact"></ion-icon>        </button>
        </ion-buttons>
      </ion-toolbar>
        <ion-searchbar class="search" (ionInput)="getItems($event)"></ion-searchbar>

      <ion-buttons >
        <button ion-button  >
          <ion-icon end name="log-out"></ion-icon>        </button>
        </ion-buttons>
        
    </ion-navbar>
  </ion-header>
   
  <ion-content padding>
      
    
      <ion-segment [(ngModel)]="galleryType" color="primary">
      <ion-segment-button value="regular">
          <ion-icon name="images"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="pinterest">
          <ion-icon name="list"></ion-icon>
      </ion-segment-button>
    </ion-segment>
   
    <div [ngSwitch]="galleryType">
      <!-- Responsive Layout with Ion Grid-->
      <ion-grid *ngSwitchCase="'regular'">
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 tappable  *ngFor="let image of eleves_list" (click)="nav(image.key)">
            <div class="image-container" [style.background-image]="'url(' + image.img_profile+')'"></div>
            <h6>{{image.nom}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
   
      <ion-list *ngSwitchCase="'pinterest'">
          <ion-item *ngFor="let image of eleves_list">
              <ion-thumbnail item-left >
                  <div class="circular--landscape">
                <img class="image" src={{image.img_profile}} />
                </div>
              </ion-thumbnail>
              <ion-label>{{ image.nom }}</ion-label>
            </ion-item>
      </ion-list>
      <!-- More Pinterest floating gallery style -->
   
    </div>
  </ion-content>